.footer-links a{
  font-size: 30px;
  margin: 0 0px;
  padding: 20px 40px;
  color: rgba(50,50,50,0.6);
  &:hover {
    color: rgba(240,240,240,0.9);
    transition: all 600ms ease;
    background-color: rgba(20,20,20,1);
  }
}

.footer-copyright {
  margin: 30px 0;
}

.footer {
  padding-top: 30px;
  background-color: $darker-gray;
  margin: 0 0 0 0;
  padding: 10px 0 20px 0;
}

.space {
  margin-bottom: 150px;
}

.co-name {
  font-size: 30px;
  color: rgba(70,70,70,0.6);
}
